<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NagaraStage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NagaraStage.Properties.Settings>
            <setting name="SurfThreshold" serializeAs="String">
                <value>11000</value>
            </setting>
            <setting name="SurfStartRow" serializeAs="String">
                <value>215</value>
            </setting>
            <setting name="SurfEndRow" serializeAs="String">
                <value>224</value>
            </setting>
            <setting name="SurfNumSide" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="SurfDistance" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="IndexUp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IndexDown" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SurfaceVoting" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SurfacePower" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SurfaceDelay" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="GridSpiral" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LimitPol" serializeAs="String">
                <value>252</value>
            </setting>
            <setting name="EncoderResolutionX" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="EncoderResolutionY" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="EncoderResolutionZ" serializeAs="String">
                <value>0.0001</value>
            </setting>
            <setting name="MotorResolutionX" serializeAs="String">
                <value>0.0005</value>
            </setting>
            <setting name="MotorResolutionY" serializeAs="String">
                <value>0.0005</value>
            </setting>
            <setting name="MotorResolutionZ" serializeAs="String">
                <value>2E-05</value>
            </setting>
            <setting name="InitialVelocityX" serializeAs="String">
                <value>0.004</value>
            </setting>
            <setting name="InitialVelocityY" serializeAs="String">
                <value>0.04</value>
            </setting>
            <setting name="InitialVelocityZ" serializeAs="String">
                <value>0.0036</value>
            </setting>
            <setting name="AccelTimeX" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AccelTimeY" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AccelTimeZ" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Speed1X" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="Speed1Y" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="Speed1Z" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="Speed2X" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="Speed2Y" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="Speed2Z" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="Speed3X" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Speed3Y" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Speed3Z" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="Speed4X" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Speed4Y" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Speed4Z" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="ScanAreaXm" serializeAs="String">
                <value>-118</value>
            </setting>
            <setting name="ScanAreaXp" serializeAs="String">
                <value>118</value>
            </setting>
            <setting name="ScanAreaYm" serializeAs="String">
                <value>-118</value>
            </setting>
            <setting name="ScanAreaYp" serializeAs="String">
                <value>118</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>ja-JP</value>
            </setting>
            <setting name="SurfaceLoweringThin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SurfaceLoweringThick" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SurfBinThreshold" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ShootInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShootDistance" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="GridMarkLens" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LedParam" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="SurfaceMotorSpeed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NumOfViewX" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NumOfViewY" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="OverAllScanDirectory" serializeAs="String">
                <value />
            </setting>
        </NagaraStage.Properties.Settings>
    </userSettings>
</configuration>